node_modules/
build/
.env
.nyc_output
images/announcements/*
images/profiles/*
images/groups/*
!images/groups/group_default_photo
!images/profiles/child_default_photo.jpg
!images/profiles/user_default_photo