/*ABOUT SCREEN*/
.aboutMainContainer {
  width: 90%;
  margin: 2rem 5%;
}
.europeanUnionLogo {
  width: 5rem;
  margin-left: 5%;
  padding-top: 2.1rem;
  position: absolute;
}
.europeanUnionRow {
  margin-top: 8rem;
}
.europeanFundingText {
  opacity: 0.87;
  font-size: 0.7rem;
  line-height: 1.71;
  color: #010101;
  padding-left: 1rem;
  margin-right: 8%;
  padding-top: 3.5rem;
}
#aboutHeaderLogoContainer img {
  width: 17rem;
}
#aboutHeaderLogoContainer {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.aboutScreenHeaderImage {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-position: 50% 0;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  top: 0;
}
.challengeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.aboutMainContainer h1 {
  font-size: 2.4rem;
  text-align: left;
  color: #000000;
}
.aboutMainContainer h2 {
  font-size: 2rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
.aboutMainContainer .row {
  align-items: center;
  margin-bottom: 3rem;
}
.aboutMainContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.aboutMainContainer button {
  width: 3rem;
  height: 3rem;
}
.aboutMainContainer p {
  font-size: 1.4rem;
  line-height: 1.71;
  color: rgba(01, 01, 01, 0.87);
  padding-top: 1.5rem;
}
.findOutMore {
  padding: 0 1rem;
  border-radius: 2px;
  background-color: #ff6f00;
  color: #ffffff;
  border: none;
  height: 3.5rem;
  cursor: pointer;
}
.findMoreRow {
  cursor: pointer;
  display: flex;
  height: 8rem;
  align-items: center;
  justify-content: center;
}
.background-header {
  background-color: #005662;
}
/*ABOUT SCREEN END*/

/*ACTIVITY SCREEN*/
#activityContainer {
  overflow: hidden;
}
#activityHeaderContainer {
  font-size: 2rem;
  background-color: #00838f;
  height: 5.6rem;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
#activityHeaderContainer button {
  width: 5rem;
  height: 5rem;
}
#activityHeaderContainer h1 {
  font-size: 2rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#activityMainContainer {
  margin-top: 5.6rem;
  padding: 5%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#activityMainContainer i {
  color: rgba(0, 0, 0, 0.87);
}
#activityMainContainer .row {
  padding: 0 5%;
  align-items: center;
}
.activityInfoHeader {
  font-size: 1.8rem;
  color: #000000;
  font-weight: 800;
  width: 100%;
}
.activityInfoIcon {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
}
.activityInfoImage {
  width: 1.6rem;
  height: 1.6rem;
  opacity: 0.87;
}
.activityInfoImage {
  width: 1.6rem;
  height: 1.6rem;
  opacity: 0.87;
}
.activityInfoDescription {
  font-size: 1.6rem;
  color: #000000;
}
#timeslotsListContainer {
  top: 5.6rem;
  width: 96%;
  padding: 0 3%;
}
.filterLabel {
  padding-left: 1rem;
  width: 100%;
  right: 10%;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
}
#filterTimeslotsDrawer h1 {
  font-size: 1.4rem;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
#filterTimeslotsDrawer h2 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
}
#filterTimeslotsDrawer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.54);
}
#timeslotsDrawerMainContainer {
  padding: 2% 2%;
  padding-bottom: 5rem;
}
#timeslotDayContainer {
  display: block;
  margin-top: 2rem;
}
.timeslotDay {
  font-size: 1.6rem;
  line-height: 0.83;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1rem;
  font-weight: 600;
}
.timeslotPreview {
  cursor: pointer;
  width: 98%;
  max-width: 40rem;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.54);
  margin: 0 1rem;
  position: relative;
  color: #000000;
}
.timeslotPreviewWarning {
  color: #ffffff;
  background-color: #ff6f00;
}
.timeslotPreviewSuccess {
  color: #ffffff;
  background-color: #00838f;
}
.timeslotPreviewIcon {
  font-size: 1.6rem;
}
.timeslotPreview .row {
  padding: 0.2rem 0;
  align-items: center;
}
.timeslotPreview .col-1-10 {
  display: flex;
  justify-content: center;
}
.timeslotPreviewText {
  margin-left: 1rem;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*ACTIVITY SCREEN END*/

/*ADDITIONAL INFO SCREEN*/
#additionalInfoScreenHeaderContainer {
  height: 6rem;
  background-color: #00838f;
  color: #ffffff;
}
#additionalInfoScreenHeaderContainer h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
#additionalInfoScreenHeaderContainer h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}
#additionalInfoScreenHeaderContainer i {
  font-size: 2rem;
  color: #ffffff;
}
#additonalInfoScreenHeaderContainer button {
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
  padding: 0 0;
}
#additionalInfoScreenMainContainer {
  width: 94%;
  margin: 2rem 3%;
}
#additionalInfoScreenMainContainer .row {
  padding: 1rem 0;
}
.additionalInfoInputField {
  width: 100% !important;
  background-color: #dcdcdc !important;
  border: none;
  height: 5.6rem !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
#additionalInfoScreenMainContainer h1 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.57);
}
/*ADDITIONAL INFO SCREEN END*/

/*CALENDAR*/

.eventStatusIndicator {
  display: inline-block;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 0.5rem;
}
#toolbarContainer {
  padding-bottom: 0.3rem;
  height: 2.5rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#monthLabelContainer span {
  font-size: 1.6rem;
  color: rgba(1, 1, 1, 0.8);
}
#monthLabelContainer button {
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  color: rgba(1, 1, 1, 0.8);
}
#calendarTitle {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: rgba(1, 1, 1, 1);
}
.toggleViewButton {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding-right: 3rem;
  color: rgba(1, 1, 1, 0.7);
}
.filterActivitiesButton {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  padding-right: 3rem;
  color: rgba(1, 1, 1, 0.7);
}
.calendarToolbarButtons {
  margin-left: auto;
}
#agendaViewContainer h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}
#agendaFilterLabel h2 {
  display: inline-block;
  margin-right: 1rem;
}
#agendaFilterLabel {
  margin-right: 1rem;
  margin-top: 1rem;
  float: right;
}
#agendaViewContainer {
  padding-bottom: 7rem;
  width: 100vw;
}
/*CALENDAR END*/

/*CHANGE PASSWORD SCREEN*/
#changePasswordContainer {
  padding: 10% 10%;
}
#changePasswordContainer img {
  margin-top: 10%;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}
#changePasswordContainer h1 {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.9);
}
#changePasswordContainer button {
  cursor: pointer;
  margin-top: 2rem;
  float: right;
  border-radius: 6px;
  background-color: #00838f;
  color: #ffffff;
  font-size: 1.6rem;
  height: 3rem;
  border: none;
}
#changePasswordContainer input {
  margin-top: 1rem;
  border: none;
  background-color: #e0e0e0;
  height: 5rem;
  border-radius: 6px;
  font-size: 1.4rem;
  width: 100%;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.8);
}
#badRequestContainer {
  width: 100vw;
  height: 100vh;
}
#badRequestContainer h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 1000;
}
/*CHANGE PASSWORD SCREEN END*/

/*CHILD PROFILE SCREEN*/
.childProfileInfoSection img {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.8;
}
.childProfileInfoSection i {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.childProfileInfoSection h1 {
  color: #000000;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.childProfileInfoSection h2 {
  color: #000000;
  padding-left: 1rem;
  font-size: 1.4rem;
  opacity: 0.54;
}
.childProfileInfoSection .row {
  min-height: 8.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}
.childProfileInfoSection .col-2-10 {
  display: flex;
  justify-content: center;
}
.childProfileInfoSection .col-3-10 {
  display: flex;
  justify-content: center;
}
.childAdditionalInfoSection {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 5%;
}
.childAdditionalInfoSection .row {
  min-height: 4rem;
  align-items: center;
}
.childAdditionalInfoSection h3 {
  margin: 0;
  color: #000000;
  font-size: 1.6rem;
  font-weight: 200;
}
.childAdditionalInfoSection h4 {
  margin: 0;
  color: #000000;
  font-size: 1.4rem;
}
.childAdditionalInfoSection p {
  margin: 0;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}
.childProfileInfoSection button {
  background-color: #0a848f;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  border: none;
}
.addParent {
  min-height: 4rem;
  border-radius: 3px;
}
.deleteParent {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
}
.deleteParent i {
  color: #ffffff;
  line-height: 2rem;
  font-size: 1.4rem;
}
/*CHILD PROFILE SCREEN END*/

/*CREATE ACTIVITY SCREEN*/
#createActivityInformationContainer img {
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
}
#createActivityInformationContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
#createActivityDatesContainer h1 {
  text-align: left;
  font-size: 1.4rem;

  color: rgba(0, 0, 0, 0.54);
}
#createActivityInformationContainer input {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.6rem;

  line-height: 5rem;
  color: rgba(0, 0, 0, 0.9);
}
#createActivityInformationContainer textarea {
  width: 100%;
  height: 5rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.6rem;

  line-height: 5rem;
  color: rgba(0, 0, 0, 0.9);
}
#createActivityInformationContainer h1 {
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}
#createActivityInformationContainer .col-2-10 {
  padding: 0 1rem;
}
#createActivityInformationContainer .col-4-10 {
  padding: 0 1rem;
}
#createActivityInformationContainer .col-8-10 {
  padding: 0 1rem;
}
#createActivityInformationContainer .col-6-10 {
  padding: 0 1rem;
}
#datePickerNavbarContainer h3 {
  text-align: center;
  font-size: 1.5rem;

  color: rgba(0, 0, 0, 0.5);
}
#datePickerNavbarContainer button {
  opacity: 0.5;
}
#datePickerNavbarContainer {
  margin-top: 1rem;
}
#createActivityRepetitionContainer i {
  font-size: 1.8rem;
}
#createActivityRepetitionContainer h1 {
  text-align: left;

  font-size: 1.6rem;
}
#createActivityRepetitionContainer button {
  font-size: 1.6rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 1rem 0rem;
}
#createActivityContainer {
  width: 100vw;
}
.dayPickerNavButton {
  position: absolute;
  top: 1.2em;
  right: 1.5em;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}
.dayPickerPrevNav {
  margin-right: 1.5em;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}
.dayPickerNextNav {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}
/*CREATE ACTIVITY SCREEN END*/

/*CREATE ACTIVITY TIMESLOTS */
#differentTimeslotsContainer {
  margin-top: 3rem;
}
#differentTimeslotsContainer button {
  font-size: 1.2rem;
  font-weight: 500;
  color: #00838f;
  line-height: 1.43;
  background-color: transparent;
  padding: 1rem 1rem;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.12);
}
#addTimeslotContainer i {
  font-size: 1.8rem;
  display: inline-block;
  margin-right: 1rem;
  color: #00838f;
}
#addTimeslotContainer h1 {
  display: inline-block;

  font-size: 1.4rem;
  color: #00838f;
  text-align: left;
}
#addTimeslotContainer button {
  margin: 1.5rem 0;
}
#createActivityTimeslotsHeader h1 {
  text-align: left;
  font-size: 1.4rem;

  color: rgba(0, 0, 0, 0.54);
}
#clockHeaderContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 4.8rem;
  height: 8.5rem;
}
#clockHeaderContainer button {
  color: #dcdcdc;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0rem 0rem;
  text-align: left;
  padding-left: 0.5rem;
  height: 2rem;
  width: 5rem;
}
#timeslotPreviewHeader h1 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.9);

  line-height: 1.25;
  text-align: left;
}
#timeslotPreviewHeader i {
  font-size: 1.5rem;
}
#timeslotPreviewContainer {
  margin: 1rem 0rem;
}
#timeslotPreviewBubble {
  width: 90%;
  min-height: 6rem;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #00838f;
  padding: 0.5rem 0.5rem;
}
#timeslotPreviewBubble h1 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
#timeslotPreviewBubble i {
  font-size: 2rem;
  color: #00838f;
}
#timeslotPreviewMain img {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}
#timeslotPreviewMain {
  margin: 1rem 0;
}
#timeslotPreviewBubble .row {
  min-height: 6rem;
}
/*CREATE ACTIVITY TIMESLOTS END*/

/*CREATE CHILD SCREEN*/
#createChildProfileHeaderContainer {
  height: 6rem;
  background-color: #00838f;
  overflow: hidden;
}
#createChildProfileHeaderContainer h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
#createChildProfileHeaderContainer h2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 5.6rem;
  color: #ffffff;
}
#createChildProfileHeaderContainer i {
  font-size: 2rem;
  color: #ffffff;
}
#createChildProfileHeaderContainer button {
  width: 100%;
  height: 100%;
  padding: 0;
}
.createChildProfileInputField {
  width: 100% !important;
  background-color: #dcdcdc !important;
  border: none;
  height: 5.6rem !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
  outline: none !important;
  box-shadow: none;
}
#createChildProfileInfoContainer .col-5-10 {
  padding: 1rem;
}
#createChildProfileInfoContainer .col-10-10 {
  padding: 1rem;
}
#createChildProfileInfoContainer .col-1-3 {
  padding: 1rem;
}
#createChildProfileInfoContainer .col-7-10 {
  padding: 1rem;
}
#createChildProfileInfoContainer .col-3-10 {
  padding: 1rem;
}
#createChildProfileInfoContainer .col-8-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#createChildProfileInfoContainer {
  overflow: hidden;
  margin-bottom: 1rem;
}
#createChildProfileInfoContainer span {
  margin-top: 2rem;
}
#createChildProfileInfoContainer select {
  display: block;
  width: 100%;
  font-size: 1.5rem !important;
  padding-left: 1rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none;
}

#createChildProfileInfoContainer h1 {
  opacity: 0.87;

  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: 0.1px;
  text-align: left;
  color: #010101;
}
/*CREATE CHILD SCREEN END*/

/*CREATE GROUP SCREEN*/
.groupVisibility {
  width: 20rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
  text-align: left;
  margin-right: 2.5rem;
  color: rgba(33, 33, 33, 0.7);
}
.createGroupInput {
  width: 100% !important;
  background-color: #dcdcdc !important;
  border: none;
  height: 5.6rem !important;
  margin-top: 2rem !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
  font-family: 'Roboto', sans-serif !important;
}
.textareaInput {
  padding-top: 1.5rem !important;
  width: 100% !;
  background-color: #dcdcdc !important;
  border: none;
  min-height: 5.6rem;
  margin-top: 2rem;
  border-radius: 3px;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
}
#createGroupScreenInvites h1 {
  font-size: 1.4rem;

  letter-spacing: 0.2px;
  text-align: left;
  margin-right: 2.5rem;
  color: rgba(33, 33, 33, 0.54);
  display: inline;
}
#createGroupScreenInvites i {
  color: #00838f;
  font-size: 2rem;
  cursor: pointer;
}
/*CREATE GROUP SCREEN END*/

/*EDIT ACTIVITY SCREEN*/
#editActivityHeaderContainer {
  background-color: #00838f;
  height: 7rem;
}
#editActivityHeaderContainer h1 {
  color: #ffffff;
  text-align: left;
  font-size: 2rem;
}
#editActivityHeaderContainer h2 {
  color: #ffffff;

  font-size: 1.4rem;
  line-height: 5rem;
}
#editActivityHeaderContainer i {
  font-size: 2.5rem;
  color: #ffffff;
}
#editActivityHeaderContainer button {
  width: 100%;
  height: 100%;
  max-height: 5rem;
  max-width: 5rem;
}
#editActivityMainContainer {
  padding-top: 1rem;
}
#editActivityMainContainer .row {
  height: 6rem;
}
#editActivityMainContainer i {
  font-size: 2rem;
}
#editActivityMainContainer h1 {
  font-size: 1.4rem;
}
#editActivityMainContainer input {
  width: 90%;
  height: 5rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.6rem;

  line-height: 5rem;
  color: rgba(0, 0, 0, 0.9);
}
#editActivityMainContainer textarea {
  width: 90%;
  height: 5rem;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  outline: none;
  padding-left: 1rem;
  font-size: 1.6rem;

  line-height: 5rem;
  color: rgba(0, 0, 0, 0.9);
}
/* EDIT ACTIVITY SCREEN END*/

/*EDIT CHILD PROFILE SCREEN */
#editChildProfileHeaderContainer {
  height: 24rem;
}
#editChildProfileHeaderContainer h1 {
  font-size: 2rem;

  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
#editChildProfileHeaderContainer h2 {
  font-size: 1.4rem;

  font-weight: 500;
  line-height: 5.6rem;
  color: #ffffff;
}
#editChildProfileHeaderContainer {
  font-size: 2rem;
  color: #ffffff;
}
#editChildProfileHeaderContainer button {
  width: 100%;
  height: 100%;
  padding: 0 0;
}
#editChildProfileInfoContainer {
  width: 94%;
}
.editChildProfileInputField {
  width: 100% !important;
  background-color: #dcdcdc !important;
  border: none;
  min-height: 5.6rem !important;
  border-radius: 3px !important;
}
#editChildProfileInfoContainer .col-5-10 {
  padding: 0 0.5rem;
}
#editChildProfileInfoContainer .col-10-10 {
  padding: 0 0.5rem;
}
#editChildProfileInfoContainer .col-1-3 {
  padding: 0 0.5rem;
}
#editChildProfileInfoContainer .col-7-10 {
  padding: 0 0.5rem;
}

#editChildProfileInfoContainer .col-3-10 {
  padding: 0 0.5rem;
}
#editChildProfileInfoContainer .row {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#editChildProfileInfoContainer label {
  font-size: 1rem;
  text-align: left;

  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
#editChildProfileInfoContainer input {
  display: block;
  font-size: 1.5rem !important;
  padding-left: 1rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none;
}
#additionalInformationContainer h1 {
  font-size: 1.6rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
#additionalInformationContainer h2 {
  font-size: 1.4rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}
#additionalInformationContainer button {
  background-color: #0a848f;
  padding: 0 0;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  height: 3.6rem;
  min-width: 10rem;
  padding-left: 0;
  border-radius: 3px;
  border: none;
}
#editChildProfileInfoContainer {
  margin-bottom: 1rem;
}
#editChildProfileInfoContainer select {
  display: block;
  width: 100%;
  font-size: 1.5rem !important;
  padding-left: 1rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none;
}

#editChildProfileInfoContainer i {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}
#uploadGroupLogoContainer label {
  padding: 0 0;
}
.editChildProfilePhoto {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
}
/*EDIT CHILD PROFILE SCREEN END*/

/*EDIT GROUP SCREEN */

#editGroupHeaderContainer {
  position: relative;
  height: 15rem;
  width: 100%;
}
#groupHeaderOptions h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}
#groupHeaderOptions button {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #000000;
}
#editGroupHeaderContainer #editNameInput {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 55%;
  height: 5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 2.4rem;
  text-align: left;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.editGroupImage {
  position: relative;
  float: right;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  right: 3%;
  top: 50%;
  object-fit: cover;
  transform: translateY(-50%);
}
#uploadGroupLogoContainer input {
  display: none;
}
#uploadGroupLogoContainer label {
  max-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border: none;
  min-height: 4rem;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: none;
}
#editGroupHeaderContainer span {
  bottom: 2%;
  left: 10%;
  position: absolute;
}
#editGroupHeaderContainer label {
  font-size: 1.2rem;
  color: #ffffff;
  left: 10%;
  position: absolute;
  bottom: 45%;
}
#editGroupInfoContainer {
  margin-bottom: 1rem;
}

.editGroupInputField {
  width: 100% !important;
  background-color: #dcdcdc !important;
  border: none;
  min-height: 5.6rem !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
  font-family: 'Roboto', sans-serif !important;
}

#editGroupInfoContainer .row {
  min-height: 7.6rem;
  padding: 1rem 0;
}
#editGroupInfoContainer .col-2-10 {
  padding: 0 1rem;
}
#editGroupInfoContainer .col-6-10 {
  padding: 0 1rem;
}
#editGroupInfoContainer .col-8-10 {
  padding: 0 1rem;
}
#editGroupInfoContainer .col-3-10 {
  padding: 0 1rem;
}

#editGroupInfoContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

#editGroupInfoContainer span {
  margin-top: 2rem;
}

/*EDIT GROUP SCREEN END*/

/*EDIT PROFILE SCREEN */

#profileHeaderOptions h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
}
#profileHeaderContainer #editGivenNameInput {
  left: 5%;
  bottom: 10%;
  position: absolute;
  width: 37%;
  height: 7rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ff6f00;

  font-size: 3.4rem;
  text-align: left;
  letter-spacing: -0.3px;
  color: #ffffff;
}
#profileHeaderContainer #editFamilyNameInput {
  left: 44%;
  bottom: 10%;
  position: absolute;
  width: 37%;
  height: 7rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ff6f00;

  font-size: 3.4rem;
  text-align: left;
  letter-spacing: -0.3px;
  color: #ffffff;
}

#profileHeaderContainer label {
  font-size: 1.4rem;
  color: #ff6f00;
}
#editGivenNameLabel {
  left: 7%;
  position: absolute;
  bottom: 30%;
}
#editFamilyNameLabel {
  left: 45%;
  position: absolute;
  bottom: 30%;
}
.editProfileInputField {
  width: 100% !important;
  background-color: #dcdcdc !important;
  height: 5.6rem !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1rem !important;
  font-family: 'Roboto', sans-serif !important;
  border: none !important;
}
.inputSelectField {
  font-size: 1.4rem;
  text-align: center;
  height: 3rem;
  background-color: #dcdcdc;
  width: 8rem;
}
#uploadProfilePhotoContainer {
  position: absolute;
  bottom: 15%;
  right: 6%;
}
#uploadProfilePhotoContainer i {
  font-size: 3rem;
  color: #ffffff;
}
#uploadProfilePhotoContainer input {
  display: none;
}
#editProfileInfoContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
#editProfileInfoContainer {
  margin-bottom: 2rem;
}
#editProfileInfoContainer .col-5-10 {
  padding: 1rem;
}
#editProfileInfoContainer .col-6-10 {
  padding: 1rem;
}
#editProfileInfoContainer .col-3-10 {
  padding: 1rem;
}
#editProfileInfoContainer .col-8-10 {
  padding: 1rem;
}
#editProfileInfoContainer .col-2-10 {
  padding: 1rem;
}
#editProfileInfoContainer span {
  margin-top: 1rem;
}
#profileHeaderContainer span {
  position: absolute;
  bottom: 2%;
  left: 5%;
}

/*EDIT PROFILE SCREEN END*/

/*EXPANDED TIMESLOT */

#timeslotsDrawerHeaderContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 8rem;
  padding-left: 3%;
}

#expandedTimeslotHeaderContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
}
#expandedTimeslotHeaderContainer h1 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 2rem;
  text-align: left;
  padding-left: 3rem;
}
#expandedTimeslotMainContainer {
  margin-top: 3rem;
  padding: 0 3%;
}
#expandedTimeslotMainContainer h1 {
  font-size: 3.4rem;

  color: rgba(0, 0, 0, 0.9);
  text-align: left;
}
#expandedTimeslotMainContainer h2 {
  font-size: 2rem;

  color: rgba(0, 0, 0, 0.9);
  text-align: left;
}
#expandedTimeslotMainContainer h3 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
}
.subscribeBubble {
  margin: 0.5rem;
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #e0e0e0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2rem;
}
.subscribeText {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}
.subscribeIcon {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}
.participantsHeaderText {
  font-size: 1.6rem;
  color: #000000;
}
.participantsHeaderButton {
  padding: 0;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
}
.participantsHeaderContainer {
  display: flex;
  width: 100%;
  align-items: center;
}
.participantsText {
  font-size: 1.6rem;
  padding-left: 1rem;
  color: #000000;
}
.participantsMinimum {
  font-size: 1.6rem;
  color: #000000;
}
.participantsContainer {
  width: 100%;
  margin-top: 1rem;
}
#expandedTimeslotMainContainer i {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.54);
}
#expandedTimeslotMainContainer img {
  width: 2.5rem;
  height: 2.5rem;
}
#expandedTimeslotMainContainer h4 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);

  display: inline-block;
}
.expandedTimeslotTimeInput {
  padding: 0 1.5rem !important;
  width: 13rem !important;
  margin: 0 1rem !important;
  font-size: 1.4rem !important;
  border-radius: 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.24) !important;
  height: 4rem !important;
}
.expandedTimeslotInput {
  width: 100% !important;
  padding: 0 1.5rem !important;
  font-size: 1.4rem !important;
  border: none !important;
  border-bottom: solid 1px rgba(0, 0, 0, 0.24) !important;
}
/*EXPANDED TIMESLOT END*/

/*FAQS SCREEN */

.faq h1 {
  opacity: 0.87;

  font-size: 1.4rem;
  margin-left: 5%;
  margin-top: 2rem;
  text-align: left;
  color: #ff6f01;
}
.faq p {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: right!;
  color: rgba(0, 0, 0, 0.87);
}

.collapsibleTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: right!;
  color: rgba(0, 0, 0, 0.87);
}
#faqsContainer {
  width: 96%;
  margin: 3rem 2%;
}
/*FAQS SCREEN END*/

/* FORGOT PASSSWORD SCREEN */
#forgotPasswordContainer {
  padding: 10% 8%;
}
#forgotPasswordMain {
  margin-top: 5rem;
}
#forgotPasswordMain input {
  margin-top: 1rem;
  border: none;
  background-color: #e0e0e0;
  height: 5rem;
  border-radius: 6px;
  font-size: 1.6rem;
  width: 100%;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.8);
}
#forgotPasswordMain button {
  cursor: pointer;
  margin-top: 3rem;
  float: right;
  border-radius: 6px;
  background-color: #00838f;
  color: #ffffff;
  font-size: 1.6rem;
  height: 3rem;
  border: none;
}
#forgotPasswordMain h1 {
  font-size: 1.6rem;

  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
#forgotPasswordLogo {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #00838f;
}
#forgotPasswordLogo img {
  width: 12rem;
  position: relative;
}

/*FORGOT PASSWORD SCREEN END*/

/*GROUP ACTIVITIES*/
#groupActivitiesContainer {
  width: 94%;
  top: 6rem;
  padding-bottom: 7rem;
}
#groupActivitiesContainer h1 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.5;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activityListItemIcon {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 4rem solid #00838f;
  border-left: 4rem solid transparent;
}
.activityListItemIcon i {
  position: absolute;
  top: -3.4rem;
  left: -1.8rem;
  color: #ffffff;
  font-size: 1.3rem;
}
#groupActivitiesContainer h2 {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
}
#groupActivitiesContainer button {
  width: 4rem;
  height: 4rem;
}
/*GROUP ACTIVITIES END*/

/*GROUP INFO*/
#groupHeaderContainer {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12.5rem;
}
#groupHeaderContainer img {
  float: right;
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 50%;
  right: 5%;
  position: relative;
  bottom: 5%;
  top: 5%;
  border: none;
  object-fit: cover;
}
#groupHeaderOptions {
  width: 100%;
  height: 5.6rem;
  z-index: 3;
  position: absolute;
  top: 0;
}
#groupHeaderOptions button {
  padding: 0 0;
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
}
#groupHeaderOptions i {
  font-size: 2rem;
  color: #ffffff;
}
#groupHeaderContainer h1 {
  font-family: 'Roboto', sans-serif, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  bottom: 10%;
  left: 5%;
  position: absolute;
  color: #ffffff;
  z-index: 2;
}
#groupAboutContainer {
  width: 94%;
  margin: 2rem 3%;
  border-bottom: 1px solid #e0e0e0;
}

#groupAboutContainer h1 {
  font-size: 2.4rem;
  text-align: left;
  color: #010101;
}
#groupAboutContainer p {
  color: rgba(1, 1, 1, 0.87);

  font-size: 1.4rem;
  text-align: left;
  line-height: 1.71;
}

#groupInfoMainContainer {
  position: relative;
  top: 12.5rem;
  padding-top: 1rem;
  padding-bottom: 8rem;
}
.joinGroupButton {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 3%;
  height: 3.6rem;
  background-color: #ff6f01;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3.6rem;
  border-radius: 3px;
  border: none;
}
#instructionContainer {
  min-height: 8.8rem;
}
#instructionContainer h1 {
  font-size: 1.6rem;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
#instructionContainer p {
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}
.indexCircle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #ff6f01;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 4rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
/*GROUP INFO END*/

/*GROUP MAIN*/
.navbarPadding {
  padding-bottom: 6.6rem;
}
.groupNavbarIcon {
  font-size: 2.4rem;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.infoCircleRegular {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.userFriendsRegular {
  width: 2.8rem;
  height: 2.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
/*GROUP MAIN END*/

/*GROUP MEMBERS*/
#groupMembersHeaderContainer {
  height: 5.6rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00838f;
  z-index: 100;
}
#groupMembersHeaderContainer i {
  font-size: 2rem;
  z-index: 100;
  position: relative;
  color: #ffffff;
}
#groupMembersHeaderContainer button {
  width: 100%;
  height: 100%;
  padding: 0 0;
  max-height: 5rem;
  max-width: 5rem;
  padding: 0 0;
}
#groupMembersHeaderContainer h1 {
  padding-left: 1rem;

  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.members-badge {
  font-size: 0.9rem;
  display: block;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  border-radius: 50%;
  text-align: center;
  z-index: 101;
  color: #fff;
  background: #c43e00;
}
.activities-badge {
  font-size: 0.9rem;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -0.6rem;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  border-radius: 50%;
  text-align: center;
  z-index: 101;
  color: #fff;
  background: #c43e00;
}
#groupMembersContainer {
  padding-bottom: 6rem;
  height: 100vh;
}
#groupMembersAdminOptionsContainer {
  position: relative;
  top: 5.6rem;
}
.membersContainer {
  padding-bottom: 6rem;
  top: 5.6rem;
  position: relative;
}
#groupMembersAdminOptionsContainer .row {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
}
#groupMembersAdminOptionsContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
#groupMembersAdminOptionsContainer h1 {
  font-size: 1.6rem;
  text-align: left;
}
#groupMembersAdminOptionsContainer button {
  padding: 0 0;
  height: 2rem;
  font-size: 1.6rem;
  text-align: left;
}
#groupMembersAdminOptionsContainer h2 {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
}

#contactContainer {
  width: 100%;
  padding: 1.5rem 1rem;
}
#contactInfoContainer h1 {
  text-align: center;
  color: #000000;
  font-size: 1.6rem;
}
#contactInfoContainer h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

  font-size: 1.4rem;
}
#contactIconsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
#contactIconsContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
#contactIconsContainer button {
  width: 100%;
  height: 100%;
  max-width: 3rem;
  overflow: visible !important;
  max-height: 3rem;
}
.contactLetter {
  color: #347cff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  margin-left: 2.4rem;
  padding-top: 1rem;
}
.contactLiContainer {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
/*GROUP MEMBERS END*/

/*GROUP MESSAGES */
#announcementsContainer {
  background-color: #afdddd;
  min-height: calc(100vh - 20.3rem);
  padding-bottom: 11.2rem;
  overflow-y: auto;
  position: relative;
  top: 9.1rem;
}

#announcementContainer {
  position: relative;
  background-color: #ffffff;
  height: auto;
  width: 96%;
  border-radius: 0.5rem;
}
#announcementBarContainer {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 5.6rem;
  height: 5.6rem;
  background-color: #afdddd;
}
#announcementBubble {
  width: 90%;
  height: 4.6rem;
  background-color: white;
  border-radius: 3.5rem;
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
#announcementBubble input {
  font-size: 1.4rem;
  text-align: left;
  width: 96%;
  padding-left: 1.5rem;
  position: relative;
  border: none;
}
#announcementBubbleButtons {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
#announcementBubbleButtons i {
  font-size: 1.8rem;
  margin-left: 1.5rem;
}
#announcementBubbleButtons input {
  display: none;
}
#announcementBubbleButtons label {
  margin: 0;
  padding: 0;
}
#timeAgoContainer {
  width: 100%;
  height: 2rem;
  position: relative;
}
#announcementHeaderContainer {
  margin-bottom: 1rem;
}
#announcementHeaderContainer h1 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}
#announcementHeaderContainer i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#announcementHeaderContainer button {
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
}
#announcementReplyContainer {
  margin-bottom: 1rem;
  padding-left: 3rem;
}
#announcementReplyContainer h1 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}
#announcementReplyContainer i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
#announcementReplyContainer button {
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
}
#announcementReplyMainContainer {
  width: 94%;
  padding-left: 3rem;
}
#announcementReplyMainContainer h1 {
  font-size: 1.8rem;
  text-align: left;
}
#announcementMainContainer {
  width: 94%;
}
#announcementMainContainer h1 {
  font-size: 1.8rem;
  text-align: left;
}

#announcementMainContainer img {
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
#newReplyContainer i {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.7);
}
#newReplyContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#newReplyContainer button {
  padding: 0 0;
  width: 3rem;
  height: 3rem;
}
#newReplyContainer input {
  font-size: 1.4rem;

  text-align: left;
  width: 100%;
  padding-left: 1.5rem;
  position: relative;
  border: none;
}
#newReplyContainer {
  height: 5rem;
}
#showRepliesContainer {
  margin-right: 3%;
  height: 3rem;
}
#showRepliesContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}
#showRepliesContainer button {
  float: right;
}

#photoPreviewContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12rem;
  right: 23%;
  height: 7rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#photoPreviewContainer li {
  position: relative;
}
.previewDelete {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  right: 8px;
  top: 3px;
  padding-left: 2px;
  padding-top: 1px;
}
.photoPreview {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
}
/*GROUP MESSAGES *END/

/*GROUP NEWS*/

#groupNewsNavContainer {
  top: 5.6rem;
  height: 3.5rem;
  background-color: #00838f;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 3px 10px grey;
}
#groupNewsNavContainer h1 {
  cursor: pointer;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.4rem;
}
.groupNewsNavTabActive {
  border-bottom: 3px solid #ffffff;
}

#notificationsContainer {
  background-color: #afdddd;
  min-height: calc(100vh - 14.7rem);
  padding-bottom: 5.6rem;
  position: relative;
  top: 9.1rem;
}
#notificationContainer p {
  margin-top: 2rem;
  font-size: 1.4rem;
  text-align: left;
}
#notificationContainer {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 2rem;
}
#notificationContainer h1 {
  text-align: left;
  font-size: 2rem;
  color: #000000;
}
/*GROUP NEWS END*/

/*INVITE DIALOG*/
.inviteDialogInput {
  min-height: 4rem;
  font-size: 1.6rem;
  background-color: #e0e0e0;
  border: none;
  border-radius: 2rem;
  padding-left: 2rem;
  width: 100%;
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
}
.inviteDialogTitle {
  font-size: 1.8rem;
  font-weight: 700;
}
.autoCompleteText {
  font-size: 1.4rem;
}
.inviteSelect {
  font-size: 1.4rem;
  color: #00838f;
}
/*INVITE MODAL END*/

/*LANDING SCREEN*/
/****Layout Styles****/
#landingHeaderContainer {
  width: 100%;
  position: relative;
  height: 15.4rem;
  background-color: #005662;
}
#landingNavbarContainer {
  position: relative;
  height: 5.2rem;
  background-color: #ff6f00;
}
#landingNavButtonsContainer {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
#selectLanguageContainer {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
#aboutCardContainer {
  width: 94%;
  max-width: 45rem;
  border-radius: 0.5rem;
  background-color: #fbfbfb;
  border: 1px solid #e0e0e0;
}
#landingMainContainer {
  margin: 2rem 0;
}
#suggestionContainer {
  cursor: pointer;
  width: 100%;
  min-height: 8.3rem;
  max-width: 45rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

#suggestionInfoContainer {
  padding: 1rem 1rem;
}
.groupLink:active {
  text-decoration: none;
}
#landingHeaderBrandContainer {
  width: 26rem;
  height: 10rem;
}

/****Module Styles****/
.landingHeaderLogo {
  width: 12.4rem;
  height: 7rem;
  top: 0;
  left: 0;
  position: absolute;
}
.aboutHeaderLogo {
  width: 75rem;
  height: auto;
  padding-left: 22rem;
  padding-top: 5rem;
  position: relative;
}
.loginButton {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  text-decoration: none;
  text-align: left;
  color: #000000;
  position: relative;
}
.loginButton:hover {
  text-decoration: none;
}
.signupButton {
  padding-left: 3rem;

  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  position: relative;
}
.button:hover {
  text-decoration: none;
}

.cityName {
  font-family: 'Lilita One';
  font-size: 2.4rem;
  text-align: left;
  color: #ffffff;
  bottom: 0;
  right: 0;
  position: absolute;
}

.cityImage {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
}

#aboutCardContainer h1 {
  font-size: 2.4rem;
  text-align: left;
  width: 100%;
  color: #010101;
}
#aboutCardContainer .row {
  padding: 1.8rem 1.8rem;
  border-bottom: 1px solid #e0e0e0;
}
#aboutCardContainer p {
  width: 100%;
  display: block;

  font-size: 1.4rem;
  text-align: left;
  line-height: 1.71;
  color: rgba(1, 1, 1, 0.87);
}

.aboutLine {
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: #e0e0e0;
  margin-top: 4rem;
}
.learnMoreButton {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  text-align: left;
  color: #4671b6;
}
#suggestionsTitle {
  width: 94%;
  max-width: 45rem;
  margin: 1rem 0;

  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 0.1px;
  color: rgba(1, 1, 1, 0.87);
}
.groupLogo {
  margin-left: 1.8rem;
  margin-top: 1.4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: inline-block;
  position: relative;
}
#suggestionContainer h1 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(1, 1, 1, 0.87);
}
#suggestionContainer h2 {
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  text-align: left;
  color: rgba(1, 1, 1, 0.87);
}
#suggestionContainer h3 {
  font-size: 1.4rem;
  text-align: left;
  color: rgba(1, 1, 1, 0.54);
}
/*LANDING SCREEN END*/

/*LOGGING SCREEN */
#logInContainer {
  width: 92%;
  margin: 2rem 4%;
}
.signUpButton {
  float: right;
  padding-left: 0.5rem;

  font-size: 1.4rem;
  letter-spacing: 0.1px;
  color: #ff6f00;
}
.dontHaveAccountText {
  font-family: 'Roboto', sans-serif;
  float: left;
  font-size: 1.4rem;
  letter-spacing: 0.1px;
  color: #000000;
}
.logInButton {
  border: none;
  padding: 0 0;
  width: 100%;
  line-height: 3.6rem;
  border-radius: 3px;
  color: #ffffff;
  height: 3.6rem;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.4rem;

  max-width: 45rem;
}
.googleColor {
  background-color: #be1622;
}
.facebookColor {
  background-color: #27348b;
}
.orLogInText {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: #010101;
}
.agreeWithTermsGoogle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 10%;
  text-align: center;
  font-size: 1.4rem;
}
.agreeWithTermsGoogle:hover {
  color: #1890ff;
}
.forgotPasswordButton {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: left;
  color: #010101;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
.logInConfirmButton {
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #dcdcdc;
  color: #808080;
  height: 3.6rem;
  margin-top: 2rem;
  font-size: 1.4rem;

  margin-bottom: 3.6rem;
  max-width: 45rem;
}
.logInInputField {
  padding-left: 1.7rem !important;
  background-color: #dcdcdc !important;
  border: none !important;
  height: 5.6rem !important;
  margin-top: 2rem !important;
  border-radius: 3px !important;
  font-size: 1.6rem !important;
  font-family: 'Roboto', sans-serif !important;
  max-width: 45rem;
}
/*LOGGING SCREEN END*/

/*MY FAMILIES SHARE SCREEN */
#drawerContainer {
  width: 100vw;
}
#myNotificationsContainer {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem 1rem;
}
#myNotification {
  width: 100%;
  height: auto;
}
#myNotificationsContainer button {
  padding: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#myNotificationsContainer i {
  font-size: 1.5rem;
}
#myNotificationsContainer h1 {
  padding-top: 0.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
}
#myNotificationsContainer p {
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}
.myGroupsContainer {
  padding: 0 3%;
}
.myGroupsContainerHeader {
  margin: 2rem 0;
  color: #010101;
  font-size: 1.4rem;
}
.myGroupsContainerPrompt {
  margin: 2rem 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.4rem;
}
.myPromptSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myPromptImage {
  width: 25rem;
  height: 25rem;
}
.myPromptAction {
  text-align: center;
  width: 22rem;
  line-height: 3rem;
  color: white;
  background-color: #00838f;
}
#myFamiliesShareHeaderContainer {
  z-index: 100;
  top: 0;
  height: 6rem;
  width: 100%;
  position: fixed;
  background-color: #000000;
  overflow: hidden;
}
#myFamiliesShareHeaderContainer h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
#myFamiliesShareHeaderContainer i {
  font-size: 2rem;
  color: #ffffff;
}
.invites-badge {
  font-size: 0.4em;
  display: block;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #c43e00;
}
.notifications-badge {
  font-size: 0.4em;
  display: block;
  position: absolute;
  top: 0.65em;
  right: 0.45em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #c43e00;
}
.myFamiliesShareHeaderImage {
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
}
#myFamiliesShareHeaderContainer button {
  width: 100%;
  height: 100%;
  padding: 0 0;
  max-width: 5rem;
  max-height: 5rem;
}
#drawerMenuContainer i {
  line-height: '';
  font-size: 2.5rem;
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.5);
}
#drawerMenuContainer h1 {
  padding: 0;
  float: left;
  font-size: 1.4rem;
  color: #000000;
  opacity: 0.7;
}
#drawerMenuContainer .row {
  height: 100%;
  align-items: center;
}
#drawerContainer {
  overflow: hidden;
}
#myFamiliesShareMainContainer {
  top: 6rem;
  position: relative;
  padding-bottom: 6rem;
}
/* MY FAMILIES SHARE SCREEN END*/

/*NO MATCH SCREEN*/
#noMatchScreenContainer {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
#noMatchScreenContainer img {
  width: 100vw;
  position: relative;
  vertical-align: middle;
}
/*NO MATCH SCREEN END*/

/*PENDING REQUESTS SCREEN*/
#groupMembersRequestsContainer {
  padding: 3%;
}
#groupMembersRequestsContainer h1 {
  font-size: 1.6rem;
  text-align: left;
  color: #000000;
}
#groupMembersRequestsContainer button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  height: 4rem;
  width: 90%;
  padding: 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  max-width: 10rem;
}
/*PENDING REQUESTS SCREEN END*/

/*PRIVACY MODAL*/
#termsAndPolicyMain {
  height: 90%;
  overflow-y: auto;
  width: 96%;
  padding: 3% 5%;
}
#termsAndPolicyHeader {
  display: flex;
  flex: 1;
  align-items: center;
  height: 4%;
}
#termsAndPolicyFooter {
  height: 4%;
  display: flex;
  flex: 1;
  justify-content: center;
}
#termsAndPolicyHeader i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
#termsAndPolicyMain h1 {
  text-align: center;
  font-size: 2rem;

  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
#termsAndPolicyMain p {
  white-space: pre-line;
  font-size: 1.5rem;
  text-align: left;
  display: block;
  color: rgba(0, 0, 0, 0.7);
}
#termsAndPolicyMain button {
  margin-top: 2rem;
  font-size: 1.5rem;
  height: 3rem;
  width: 12rem;
  border-radius: 3px;
  border: none;
  background-color: #00838f;
  color: white;
}

#termsAndPolicyFooter button {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  margin: 0 1rem;
}
/*PRIVACY MODAL END*/

/*PROFILE SCREEN */
.profileInfoContainer {
  min-height: 8.5rem;
  border-bottom: 1px solid rgba(01, 01, 01, 0.1);
}
#profileNavbarContainer {
  height: 5rem;
  background-color: #0a848f;
  box-shadow: 0px 3px 10px grey;
}
#profileNavbarContainer h1 {
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  opacity: 0.5;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}
#privateProfileContainer {
  width: 100%;
  height: 20rem;
}
#privateProfileContainer h1 {
  font-size: 2rem;
  color: #000000;

  text-align: center;
}
#framilyMemberContainer h1 {
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.6rem;
  color: #010101;
  opacity: 0.87;
  cursor: pointer;
}

#childInfoContainer h2 {
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.6rem;
  color: #010101;
  opacity: 0.47;
}
#childInfoContainer h1 {
  text-align: left;
  font-family: 'Roboto';
  font-size: 1.6rem;
  color: #010101;
  opacity: 0.87;
}
#framilyContainer {
  padding-bottom: 5rem;
}
#addFramilyThumbnail {
  padding: 0 0;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: solid 0.5px #999;
  background-color: #ff6f00;
  box-shadow: 2px 2px 4px #999;
}
#addFramilyThumbnail i {
  color: #ffffff;
  font-size: 2rem;
}
.addChildPrompt {
  width: 100vw;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
#addFramilyThumbnail img {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
}
#framilyMemberContainer {
  padding: 1rem 0;
  position: relative;
}
#childContainer {
  cursor: pointer;
  padding: 1rem 0;
  position: relative;
}
#profileHeaderOptions {
  width: 100%;
  z-index: 1;
  background-color: Transparent;
  position: absolute;
  top: 0;
}
#profileHeaderOptions button {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
  height: 5rem;
  width: 5rem;
  padding: 0 0;
}
#profileHeaderOptions i {
  font-size: 2rem;
  color: #ffffff;
}
#profileOptionsContainer {
  position: absolute;
  right: 0%;
}
.profileInfoContainer i {
  font-size: 1.8rem;
}
.profileInfoContainer h2 {
  display: block;
  opacity: 0.54;
  font-family: 'Roboto';
  font-size: 1.4rem;
  text-align: left;
  color: #010101;
}
.profileInfoContainer h1 {
  display: block;
  opacity: 0.87;
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-align: left;
  color: #010101;
}
.profileTabActive {
  opacity: 1 !important;
  border-bottom: 4px solid white;
}
#profileHeaderContainer {
  height: 28rem;
  background-color: #00838f;
  position: relative;
  overflow: hidden;
}
.profilePhoto {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 50%;
  top: 15%;
}
#profileHeaderContainer h1 {
  color: #ffffff;
  font-size: 3.4rem;

  position: absolute;
  bottom: 0;
  width: 90%;
  text-align: center;
}
/*PROFILE SCREEN END*/

/*RATING MODAL*/
.ratingHeader {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 30%;
  display: flex;
  align-items: center;
}
.ratingStar {
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.ratingStarSelected {
  font-size: 3.5rem;
  color: #daa520;
}
.ratingMain {
  display: flex;
  justify-content: center;
  height: 30%;
  align-items: center;
}
.ratingFooter {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ratingGuide {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  opacity: 0.8;
}
.ratingButton {
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 5px;
  width: 10rem;
  height: 4rem;
  background-color: #00838f;
  color: #ffffff;
  border: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
/*RATING MODAL END*/

/*SEARCH GROUP SCREEN*/
#searchGroupBarContainer {
  height: 6rem;
  position: fixed;
  background-color: #00838f;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
#searchGroupBarContainer button {
  width: 100%;
  height: 100%;
  padding: 0 0;
  max-height: 5rem;
  max-width: 5rem;
}
#searchGroupBarContainer i {
  font-size: 2rem;
  color: #ffffff;
}
#searchGroupBarContainer input {
  height: 4rem;
  font-size: 1.6rem;
  background-color: #ffffff;
  border: none;
  border-radius: 2rem;
  width: 65vw;
  position: relative;
  padding-left: 2rem;
}
#searchGroupBarContainer h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}
#searchGroupSuggestionsContainer h1 {
  opacity: 0.87;
  font-family: 'Roboto';
  font-size: 1.4rem;
  text-align: left;
  color: #000000;
  line-height: 4.4rem;
  display: inline-block;
}
#searchGroupSuggestionsContainer {
  padding: 3rem;
}
#searchGroupSuggestionsContainer {
  margin-top: 6rem;
}
#searchGroupSuggestionsContainer i {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
#searchGroupSuggestionsContainer li {
  width: 100%;
  margin: 1rem 0;
}
#searchGroupResultsContainer h1 {
  font-size: 1.6rem;
  margin-left: 5%;
  margin-top: 1rem;
}
#searchGroupResultsContainer {
  margin-top: 6rem;
}
/*SEARCH GROUP SCREEN END*/

/*SIGN UP SCREEN*/
#signUpContainer {
  max-width: 45rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 3rem;
}
.toggleContainer {
  padding-top: 2.4rem;
  padding-left: 2.6rem;
}
.acceptTermsContainer {
  padding-top: 2.5rem;
}

.logInContainer {
  padding-left: 2.5rem;
}
.signUpConfirmButton {
  max-width: 45rem;
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: #dcdcdc;
  color: #808080;
  height: 3rem;
  margin-top: 5rem;
  font-size: 1.6rem;
}
.acceptTermsText {
  font-size: 1.5rem;
  letter-spacing: 0.1px;
  color: #010101;
  font-weight: 700;
  display: inline-block;
  opacity: 0.87;
}
.profileToggleText {
  padding-top: 0.5rem;
  display: inline;
  opacity: 0.87;
  font-size: 1.5rem;
  color: #202020;
  letter-spacing: 0.2px;
}
#accountQuestion h1 {
  display: inline-block;
  text-align: center;
  font-size: 1.3rem;

  letter-spacing: 0.1px;
  color: #010101;
}
#accountQuestion {
  margin: 2rem 0;
}
#alreadyHaveAccount {
  padding-left: 0.5rem;

  font-size: 1.2rem;
  letter-spacing: 0.1px;
  color: #ff6f00;
}
.signUpInputField {
  max-width: 45rem;
  background-color: #dcdcdc !important;
  border: none !important;
  height: 5.6rem !important;
  margin: 2rem 0 !important;
  border-radius: 3px !important;
  font-size: 1.5rem !important;
  padding-left: 1.7rem !important;
  font-family: 'Roboto', sans-serif !important;
}
.line {
  height: 1px;
  background-color: #e0e0e0;
  margin: 1rem 0;
  max-width: 45rem;
}
.policyIcon {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  opacity: 0.9;
}

/*SIGN UP SCREEN END*/

/* COMMUNITY MANAGEMENT SCREEN*/
.chartsSelect {
  width: 12rem;
  background-color: #dcdcdc;
  border: none;
  height: 3rem;
  border-radius: 3px;
  margin-bottom: 3rem;
}
.chartsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.interface-container {
  padding: 2rem 3%;
}
.interface-container .row {
  min-height: 5.6rem;
  align-items: center;
}
.analytics-header {
  font-size: 1.8rem;
  color: #000000;
  font-weight: 800;
  margin: 1rem 0;
}
.analytics-info {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
